extends layout

block content
  .jumbotron.text-center
    h1 Ben and George's Property Management 
  .container#list
    if state==='tenants'
      each tenant in tenants 
        .row.tenant
          .col-xs-2.name= tenant.name
          if tenant.hasHome 
           .col-xs-2 Has a home
           .col-xs-2.btn.btn-danger.move(data-tenantId=tenant._id, data-status='hasHome') Move out
          else 
            .col-xs-2 Needs a home
            .col-xs-2.btn.btn-primary.selectTenant(data-tenantId=tenant._id, data-status='homeless') Find Apt 
    
    else if (state==='apartments' || state === 'move')
      .row
        .col-xs-2 Total Rooms
        .col-xs-2 Available Rooms
        .col-xs-2 Rent per Room
      hr 
      each apartment in apartments 
        .row.apartment
          .col-xs-2= apartment.totalRooms
          .col-xs-2= apartment.availableRooms
          .col-xs-2= apartment.rentPerRoom
          .col-xs-2.thumb
            img(src=apartment.imageURL)
          .col-xs-2.btn.btn-success.showApartment(data-apartmentId=apartment._id) Details
          if state==='move'
            .col-xs-2.btn.btn-primary.move(data-tenantId=tenantId,data-apartmentId=apartment._id, data-status=status) move 
            

    else 
      .col-xs-2.btn.btn-primary#addTenant Add Tenant
      .col-xs-2.btn.btn-primary#addApartment Add Apartment 


block scripts
  script(src="/js/main.js")
