extends layout

block content
  .jumbotron.text-center
    h1 Ben and George's Property Management 
  .container#list
    if state==='tenants'
      each tenant in tenants 
        .row.tenant= tenant.name
    if state==='apartments'
      each apartment in apartments 
        .row.apartment= apartment.totalRooms
        .row.apartment= apartment.availableRooms
        .row.apartment= apartment.rentPerRoom
        img(src=apartment.imageURL)



block scripts
  script(src="/js/index.js")
